.container{
    margin-left: 170px;
    margin-right: 170px;
}
.banner-marquee {
    overflow: hidden;
    position: relative;
    padding: 0;
    background: white;
    border-radius: 40px;
    margin-top: 18px;
    right: 55px;
  }
  
  .scrolling-text {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    font-size: 14px;
    color: #555;
    transition: transform 0.1s linear;
  }
  
  .h2-title-xx {
    font-weight: normal;
    margin: 0;
  }
  .dropdown{
    right: 35px;
    padding-top: 7px;
    font-size: 18px;
    width: 200px;
  }
  .fa-solid {
    margin-right: 10px
  }
  .phone{
    font-size: 20px;
    color: yellow;
  }
  .dropdown div {
    outline: none; /* Xóa viền outline */
  }
  .vien{
    display: flex; 
    gap: 5px;
    margin-left: 10px;
  }
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Nền mờ */
    z-index: 1000; /* Đảm bảo lớp này ở trên các thành phần khác */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

